
:root {
    --Roboto: "Roboto", serif;
    --Rubik: "Rubik", serif;
    /* Signup background color */
    --light-grayish-blue: #F4F7FA;
    --mainblack: #161C2D;
    --bacgcolor: #F4F7FA;
    --white:#FFFF;
    --bluecolor: #473BF0;



}